# macOS e Xcode
.DS_Store
*.xcuserdata
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.build/
Packages/
Package.pins
.swiftpm/

# Carthage
Carthage/Build/

# CocoaPods
Pods/
*.lock
*.xcscmblueprint

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Outros arquivos que podem ser ignorados
*.swp
*.swo
*.DS_Store
*.log